@import url('https://fonts.googleapis.com/css2? family= Indie+Flower & family= Montserrat:wght@300 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(196, 211, 238);
    color: rgb(122, 4, 122);
    amilia tipográfica: 'Indie Flower', cursiva;
 familia tipográfica: 'Montserrat', sans-serif;
}

.main {
width: 75vw;
height: 100vh;
padding: 20px;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
}

.main.text {
 width: 50%;
 display: flex;
 flex-direction: column;
 font-size: 20px;
 gap: 25px;
}

.main-img {
 width: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 auto;

}

h1 {
    font-size: 35px;
    padding: 15px;
}

p {
    width: 70%;
    font-size: 23px;
    line-height: 30px;
    padding: 15px;
    gap: 30px;
}

.contenedorDeBotones {
 display: flex;
 align-items: center;

 gap: 30px;
}

button {
 padding: 10px 15px;
 border: 1px solid rgb(122, 4, 122);
 background: rgb(230, 112, 131);
 border-radius: 20px;
 color:rgb(122, 4, 122) ;

 font-size: 13px;

 cursor: pointer;
}

button:hover {
 background-color: beige;
 border: 1px solid beige
}